.section{
    padding: 1.4rem;
}

.control {
    display: flex;
    justify-content: space-between;
}

.right {
    text-align: left;
}





.input::placeholder {
    color: #00000063; 
  }
  
.input {
    height: 30px;
}
  
.button {
    height: 30px;
}

